table {
   border:1px solid ;
    border-collapse: separate;
    width: 100%; 
    background-color: aqua;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#Kesess {
    background-color: red;
}
#Idő {
    background-color: rgb(210, 249, 250);
}

tbody   tr:nth-child(even) {
    background-color: plum;
}

tbody tr:nth-child(odd) {
    background-color: gray;
}
thead {
    background-color: rgb(49, 49, 134);
}