table,th,td {
    border: 1px solid;
    border-collapse: collapse;
}
   
table { 
    width: 100%; /* weboldal szélessége */
    background-color: green; /* háttérszín */
    color: white; /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: 25px;
  }

  th {  
 background-color: black;
  }
  