table,th,td {
    border: 1px solid;
    border-collapse: collapse;
}
   
table { 
    width: 100%; /* weboldal szélessége */
    background-color: green; /* háttérszín */
    color: white; /* betűszín */
    font-family: 'Courier New'; /* betűtípus */
    font-size: 25px;
    text-align: center;
  }

  th {  
 background-color: black;
  }
  #keses{
    background-color: red;
  }
  
  .paratlan_sor{
    background-color: rgb(11, 59, 7);
  }